body {
  background-color: antiquewhite;
}

h1 {
  font-size: 30px;
  font-family: 'Wire One', sans-serif;
  color:black;
}

table {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  font-family: Arial, Verdana, Helvetica;
  color: brown;
  background-color: bisque;
}

tr {
  border: solid;
  text-align: center;
}

thead {
  border: solid;
  text-align: center;
}

tfoot {
  border: solid;
  text-align: center;
}

th {
  border: solid;
}

td {
  border: solid;
}